
# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# IDE
*.iml
.idea/
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot
application.properties
application.yml

# Lombok
*.class

# Test output
/test-output/

# Database
*.h2.db
*.mv.db

# Build
/build/

# Others
.env
